<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>千年书馆</title>
	<!-- 引入页面样式文件 -->
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/common/css/com.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/common/css/msg.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/index/index/css/appDetailsInfo.css">
	<!-- 引入VUE -->
	<script type="text/javascript" src="__ROOT__/static/common/js/vue-v2.6.10/vue.js"></script>
	<!-- 引入自定义VUE组件 -->
	<script type="text/javascript" src="__ROOT__/static/index/index/js/vue.component.js"></script>
	<!-- 表单提交相关js -->
	<script src="__ROOT__/static/common/js/axios-v0.12.0-min.js"></script>
	<script src="__ROOT__/static/common/js/lodash-v4.13.1-min.js"></script>
	<!--Jquery-->
	<script src="__ROOT__/static/common/js/jquery-v1.12.4/jquery.js"></script>
	<!-- 通用 JS -->
	<script src="__ROOT__/static/common/js/com.js"></script>
	<!-- 定义全局变量 -->
	<script type="text/javascript">
		var bookidall = {$bookidall}; //定义全局标量，写入书籍ID
		var indexUrl = null;
	</script>
</head>
<body>
<!-- VUE实例 -->
<div id="appDetailsInfo">
	<!-- 主窗口区域 -->
	<div id="adiMain">
		<!-- 顶部导航 -->
		<div id="adimTopPlace" class="adimTop centerDiplay">
			<!-- 外框居中 -->
			<div class="adimtMiddle">
				<!-- 文字 -->
				<div class="adimtmTxt centerDiplay-sc"><span class="fontSizeMyself2">千年书馆网</span></div>
				<!-- 搜索 -->
				<div class="adimtmSearch">
					<input class="adimtmsInput" type="text" name="">
					<img class="adimtmsImg" src="__ROOT__/static/common/img/rightGo.png">
				</div>
				<div class="adimtmButton centerDiplay"><span class="fontSizeMyself1">意见</span></div>
				<div class="adimtmButton centerDiplay"><span class="fontSizeMyself1">纠错</span></div>
				<div class="adimtmButton centerDiplay"><span class="fontSizeMyself1">投稿</span></div>
			</div>
		</div>
		<!-- 中间内容区域 -->
		<div class="adimMiddle centerDiplay">
			<!-- 图片 -->
			<div class="adimmTop">
				<img id="adimmtImg" v-bind:src="'__ROOT__/static/bookList/'+ bookInfos[0].book_id +'/i2.jpg'">
			</div>
			<!-- 页面 -->
			<div class="adimmMiddle">
				<!-- 位置信息 -->
				<div class="adimmmPlace widthAutoC1"><span class="fontSizeMyself8">书籍&nbsp;&nbsp;>&nbsp;&nbsp;小说&nbsp;&nbsp;>&nbsp;&nbsp;{{bookInfos[0].book_name}}</span></div>
				<!-- 书籍信息 -->
				<div class="adimmmTop">
					<img class="adimmmtImg" v-bind:src="'__ROOT__/static/bookList/'+ bookInfos[0].book_id +'/i3.jpg'">
					<div class="adimmmtName widthAutoC1">
						<span class="fontSizeMyself9">{{bookInfos[0].book_name}}</span>
						<span class="fontSizeMyself1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bookInfos[0].book_author}}&nbsp;&nbsp;著</span>
					</div>
					<div class="adimmmtFlg"><!--标签-->
						<div class="adimmmtfNum centerDiplay"><span class="fontSizeMyself3">神话</span></div>
						<div class="adimmmtfNum centerDiplay"><span class="fontSizeMyself3">明朝</span></div>
						<div class="adimmmtfNum centerDiplay"><span class="fontSizeMyself3">四大名著</span></div>
						<div class="adimmmtfNum centerDiplay"><span class="fontSizeMyself3">长篇</span></div>
					</div>
					<div class="adimmmtBbb centerDiplay-sc"><span class="fontSizeMyselfa overflow-c2">{{bookInfos[0].brief}}</span></div>
					<div class="adimmmtCcc centerDiplay-sc"><span class="fontSizeMyself6">{{bookInfos[0].words_all}}</span><span class="fontSizeMyself3">&nbsp;字</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="fontSizeMyself6">{{bookInfos[0].read_num}}</span><span class="fontSizeMyself3">&nbsp;阅读</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="fontSizeMyself6">{{bookInfos[0].recommend_num}}</span><span class="fontSizeMyself3">&nbsp;推荐</span></div>
					<div class="adimmmtButton"><!--标签-->
						<div class="adimmmtbNum centerDiplay" style="background-color:#ed4259;"><span class="fontSizeMyselfb">立即阅读</span></div>
						<div class="adimmmtbNum centerDiplay"><span class="fontSizeMyselfc">加入书架</span></div>
						<div class="adimmmtbNum centerDiplay"><span class="fontSizeMyselfc">发表感想</span></div>
						<div class="adimmmtbNum centerDiplay"><span class="fontSizeMyselfc">推荐指数</span></div>
					</div>
				</div>
				<!-- 书籍内容:章节 -->
				<div class="adimmmMiddle">
					<div class="adimmmmTop">
						<div class="adimmmmtButton centerDiplay"><span class="fontSizeMyselfc">作品信息</span></div>
						<div class="adimmmmtButton centerDiplay" style="border-bottom: 3px solid #ed4259;"><span class="fontSizeMyselfc" style="color:#ed4259;">章节目录</span></div>
						<div class="adimmmmtButton centerDiplay"><span class="fontSizeMyselfc">精彩读感</span></div>
					</div>
					<!-- 显示章节 -->
					<div v-for="bookitem in bookchrs" class="book_zjml">
						<div class="bool_zjml_jm centerDiplay-sc"><span class="fontSizeMyself5">&nbsp;&nbsp;&nbsp;{{bookitem[0].chapter_roll_name}}</span></div>
						<div v-for="(item,index) in bookitem" class="book_zjml_item borderBnone">
							<div class="book_zjml_item_xh centerDiplay"><span class="fontSizeMyself5">{{index + 1}}.</span></div>
							<div class="book_zjml_item_zm centerDiplay-sc"><span v-on:click="chapterOnclick(item)" class="fontSizeMyself5 overflow-c2">{{item.chapter_title}}</span></div>
						</div>
						<div style="clear:both;"></div>
					</div>
					<div style="width:100%;height:18px;"></div><!--预留边距-->
				</div>

			</div>
		</div>
		<!-- 底部导航 -->
		<div class="adimBottom centerDiplay">
			<div>请联系我们</div>
		</div>
	</div>
	<!-- 弹窗页面 -->
	<div class="infoMsg" v-bind:style="{ display: isInfoMsgOn}">
		弹窗区域
	</div>
</div>
</body>
<!-- 在页面加载完成之后，引入VUE实例文件 -->
<script type="text/javascript" src="__ROOT__/static/index/index/js/vue.appDetailsInfo.js"></script>
</html>