<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>千年书馆</title>
	<!-- 引入页面样式文件 -->
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/common/css/com.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/common/css/msg.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/index/index/css/appSearchInfo.css">
	<!-- 引入VUE -->
	<script type="text/javascript" src="__ROOT__/static/common/js/vue-v2.6.10/vue.js"></script>
	<!-- 引入自定义VUE组件 -->
	<script type="text/javascript" src="__ROOT__/static/index/index/js/vue.component.js"></script>
	<!-- 表单提交相关js -->
	<script src="__ROOT__/static/common/js/axios-v0.12.0-min.js"></script>
	<script src="__ROOT__/static/common/js/lodash-v4.13.1-min.js"></script>
	<!--Jquery-->
	<script src="__ROOT__/static/common/js/jquery-v1.12.4/jquery.js"></script>
	<!-- 通用 JS -->
	<script src="__ROOT__/static/common/js/com.js"></script>
	<!-- 全局变量 -->
	<script type="text/javascript">
		var searchInfo = '{$searchInfo}';
	</script>
</head>
<body>
<!-- VUE实例 -->
<div id="appSearchInfo">
	<!-- 主窗口区域 -->
	<div id="asiMain">
		<!-- 顶部导航 -->
		<div id="asimTopPlace" class="asimTop centerDiplay">
			<!-- 外框居中 -->
			<div class="asimtMiddle">
				<!-- 文字 -->
				<div class="asimtmTxt centerDiplay-sc"><span class="fontSizeMyself2">千年书馆网</span></div>
				<!-- 搜索 -->
				<div class="asimtmSearch">
					<input class="asimtmsInput" type="text" name="" v-model="booksNameIp">
					<img class="asimtmsImg" src="__ROOT__/static/common/img/rightGo.png" v-on:click="searchButton">
				</div>
				<div class="asimtmButton centerDiplay"><span class="fontSizeMyself1">意见</span></div>
				<div class="asimtmButton centerDiplay"><span class="fontSizeMyself1">纠错</span></div>
				<div class="asimtmButton centerDiplay"><span class="fontSizeMyself1">投稿</span></div>
			</div>
		</div>
		<!-- 中间内容区域 -->
		<div class="asimMiddle centerDiplay">
			<!-- 居中 -->
			<div class="asimmMiddle">
				<!-- 左侧 -->
				<div class="asimmmLeft">
					<!-- 展示查询结果集-头部 -->
					<div class="asimmmlTop">
						<div class="asimmmltTxt centerDiplay"><span class="fontSizeMyself1">搜索结果</span></div>
						<div class="asimmmltTxt centerDiplay"><span class="fontSizeMyself1">所属年代</span></div>
						<div class="asimmmltTxt centerDiplay"><span class="fontSizeMyself1">阅读量</span></div>
						<div class="asimmmltTxt centerDiplay"><span class="fontSizeMyself1">总推荐</span></div>
						<div class="asimmmltTxt centerDiplay-ec" style="float:right;width:180px;margin-right:15px"><span class="fontSizeMyself3">共搜索到{{numberBooks}}部作品</span></div>
					</div>
					<!-- 结果集展示-列表 -->
					<div v-for="bookItem in bookInfos" class="asimmmlList">
						<img class="asimmmllImg" v-bind:src="'__ROOT__/static/bookList/'+bookItem.book_id+'/i1.jpg'">
						<div class="asimmmllName centerDiplay-st"><span class="fontSizeMyself6">{{bookItem.book_name}}</span></div>
						<div class="asimmmllRcont centerDiplay-et"><span class="fontSizeMyself3">{{bookItem.read_num}}次阅读</span></div>
						<div class="asimmmllAuthor centerDiplay-st"><span class="fontSizeMyself4">作者：{{bookItem.book_author}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;上传：{{bookItem.up}}</span></div>
						<div class="asimmmllRecommend centerDiplay-et"><span class="fontSizeMyself4">{{bookItem.recommend_num}}次推荐</span></div>
						<div class="asimmmllBrief centerDiplay-st"><span class="fontSizeMyself5 overflow-c1">{{bookItem.brief}}</span></div>
						<div class="asimmmllDown"><span class="fontSizeMyself3">下载</span></div>
						<div class="asimmmllDetails centerDiplay"><span class="fontSizeMyself7">加入书架</span></div>
						<div v-on:click="detailsButton( bookItem )" class="asimmmllBookshelf centerDiplay"><span class="fontSizeMyself7">查看详情</span></div>
					</div>
					<!-- 结果集展示-翻页 -->
					<div class="asimmmlBottom"></div>
				</div>
				<!-- 右侧 -->
				<div class="asimmmRight centerDiplay">推荐区域</div>
			</div>
		</div>
		<!-- 底部导航 -->
		<div class="asimBottom">
			bottom
		</div>
	</div>
	<!-- 弹窗页面 -->
	<div class="infoMsg" v-bind:style="{ display: isInfoMsgOn}">
		弹窗区域
	</div>
</div>
</body>
<!-- 在页面加载完成之后，引入VUE实例文件 -->
<script type="text/javascript" src="__ROOT__/static/index/index/js/vue.appSearchInfo.js"></script>
</html>